<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>jquery.doctest.js Runner</title>
<meta name="author" value="Heungsub Lee" />
<link rel="shortcut icon" href="../favicon.ico" /> 
<link rel="stylesheet" type="text/css" href="reset.css" />
<link rel="stylesheet/less" type="text/css" href="runner.less" />
<!--[if lte IE 8]><script src="external/html5.js"></script><![endif]--> 
<script src="external/less.js"></script>
<script src="external/multiline.js"></script>
<script src="external/jquery.js"></script>
<script src="external/jquery.jqote2.js"></script>
<script src="external/jquery.jush.js"></script>
<script src="../jquery.doctest.js"></script>
<script src="jquery.doctest.runner.js"></script>
</head>
<body>
<script type="text/html" class="template">
  <aside>
    <ul class="stats">
      <li><span class="time">0</span> ms</li>
      <li><span class="done">0</span>% done</li>
      <li><span class="pass">0</span> pass</li>
      <li><span class="fail">0</span> fail</li>
      <li><span class="tests"><%=this.tests %></span> tests</li>
    </ul>
    <nav>
      <ul>
        <li class="run-tests"><span>Run Tests</span></li>
        <% for ( var i in this.doctests ) { %>
          <% var doctest = this.doctests[ i ]; %>
          <li id="nav-<%=doctest.id %>">
            <a href="#<%=doctest.id %>"><%=doctest.ref.basename %></a>
          </li>
        <% } %>
      </ul>
    </nav>
  </aside>
  <section class="body">
    <% for ( var i in this.doctests ) { %>
      <% var doctest = this.doctests[ i ]; %>
      <section id="<%=doctest.id %>" class="doctest">
        <h><a href="#<%=doctest.id %>"><%=doctest.ref.basename %></a></h>
        <% for ( var j in doctest.children ) { %>
          <% var item = doctest.children[ j ]; %>
          <article class="item">
            <section class="body">
              <% for ( var k in item.children ) { %>
                <% var p = item.children[ k ]; %>
                <% if ( typeof p === "string" ) { %>
                  <p title="line <%=p.line %>"><%=p %></p>
                <% } else { %>
                  <dl id="<%=p.id %>" class="test"
                    title="line <%=p.ref.line %>">
                    <dt class="code">code</dt>
                    <dd class="code">
                      <pre><%=this.h( p.ref.code ) %></pre>
                    </dd>
                    <dd class="line">line <%=p.ref.line %></dd>
                    <dt class="expected">expected</dt>
                    <dd class="expected">
                      <pre><%=this.h( p.ref.expected ) %></pre>
                    </dd>
                    <dt class="got">got</dt>
                    <dd class="got"><pre></pre></dd>
                  </dl>
                <% } %>
              <% } %>
            </section>
          </article>
        <% } %>
      </section>
    <% } %>
  </section>
  <footer>
    <p>powered by
      <a href="http://lab.heungsub.net/jquery.doctest.js">jquery.doctest.js</a>
    </p>
  </footer>
</script>
<script>
  $.doctest.runner([
    "/classy-classes/joe.js",
    "../jquery.doctest.js",
    "../../multiline.js/multiline.js",
    "../tests/equals.js",
    "../tests/failed.js",
    "../tests/scope.js",
    "../tests/example.js"
  ], {
    dependencies: [
      "/forks/classy/classy.js"
    ]
  }).appendTo( document.body );
</script>
</body>
</html>

